@charset"=UTF-8";
* { margin: 0; padding: 0;}
.resizeimage { max-width: 1200px; /* 最大幅 */
  min-width: 500px; /* 最小幅 */}
.resizeimage img { width: 100%; }
/*head*/
.body { width: 1200px; margin-left: 70px; font-family: "hiragino kaku gothicvpro","serif"; font-size: 18px; }
.header { width: 1200px; height: 220px; margin-top: 0px; margin-left: 70px; margin-right: 70px; border: solid 10px gray; background-image: url(./pic/kmdpic.JPG); background-size: contain; }
.header h1 { text-align: center; background-color: gray; opacity: 0.7; width: 300px; font-size: 28px; color: white; margin: 15px 20px; padding: 15px; border: solid 2px gray; border-radius: 30px;}
.header h2 { background-color: gray; opacity: 0.7; width: 600px; border: solid 2px gray; color: white; font-size: 16px; margin-top: 30px; margin-left: 350px; }
/*main*/
article { display: flex;}
.side { display: flex; flex-direction: column; width: 150px; height: 200px; justify-content: space-between; text-align: center; margin: 20px 70px; padding: 10px; border: solid 2px; font-size: 14px ; }
.side1 { padding: 3px; font-size: 16px; }
.content { width: 1000px; height: 50px; font: 14px; text-align: left; padding: 25px 25px;}
.content h3 { font-size: 18px; margin-top: 10px;  padding-top: 10px;}
/*update*/
.open { display: flex; width: 600px; height: auto; font-size: 16px; margin-left: 370px; padding: 20px; background-color: rgb(110, 200, 200);}
.open ul li { text-indent: 2em;}
.sp { font-size: 18px; }
/*infomation*/
.lead { width: 1200px; height: 500px; margin-left: 70px; display: flex; flex-direction: row; border-spacing: 50px; }
.box { width: 600px; height: 500px;} 
.a1 { font-size: 14px; list-style: none; padding: 10px 50px; } 
.a1 ul li { padding-left: 30px;}
.book { width: 250px; height: 180px; background-image: url(./pic/book.png); background-size: cover; }
.a2 { font-size: 14px; padding: 10px 50px; }
.h4 { font-size: 16px; }
.map { width: 381px; height: 298px; margin-left: 50px; background-image: url(./pic/kmdmap.png); background-size: auto; padding-top: 3/5*100%; }
/*guide*/
.container { width: 1200px; height: auto; font-size: 16px; margin: 10px 70px 50px 70px; padding: 30px;  background-color:rgb(110, 200, 200) ;}
.container p {font-size: 14px; padding-left: 30px;}
.container a { font-size: 18px; margin-left: 10px; }
/*kmdchr-mess*/
.message { width: 800px; height: auto; margin-top: 50px; margin-left: 300px; padding: 30px ; background-color: azure;}
.message h1 { font-size: 18px; text-align: center;}
#line1 { color: red;}
#line2 { color: red;}
.message p { text-indent: 1em; padding: 1pm;}
.message a { display: block; width: 200px; font-size: 16px;}
.doc { padding-left: 300px;}
.doc li a { width: 1000px; height: auto; }
/*kmdchr-stor*/
.stor { width: 800px; height: auto; margin-top: 50px; margin-left: 300px; padding: 30px ; background-color: azure;}
.stor h1 { font-size: 18px; text-align: center;}
.stor p { text-indent: 1em; padding: 1em; }
.stor a { width: 250px; height: 50px; font-size: 16px; margin-left: 1em; padding-left: 0px;}
.bible { width: 500px; height: auto; padding-left: 300px;}
.bible a { width: 500px; height: auto; margin-left: 0px; padding-left: 0px;}
/*footer*/
.footer{ width: 1200px; height: 30px; margin-left: 70px; padding: 10px; background-color: skyblue;}
.copy{margin-left: auto; color:rgb(80, 15, 190);}

/*  */
@page { margin: 10mm; size: 210mm 297mm; /*  */}
@media print { /*  */ body { -webkit-print-color-adjust: exact; /*  */ width: 1190px; /*  */zoom: 0.8; /*  */ }}